
    <!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - OnlineFruitShop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Shop/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Shop/css/animate.css">

    <link rel="stylesheet" href="~/Shop/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Shop/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Shop/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Shop/css/aos.css">

    <link rel="stylesheet" href="~/Shop/css/ionicons.min.css">

    <link rel="stylesheet" href="~/Shop/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Shop/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Shop/css/flaticon.css">
    <link rel="stylesheet" href="~/Shop/css/flaticon.css">
    <link rel="stylesheet" href="~/Shop/css/icomoon.css">
    <link rel="stylesheet" href="~/Shop/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/Shop/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    <style>



        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            /* flex-wrap: wrap; */
            margin-right: -15px;
            margin-left: -15px;
        }

        button {
            cursor: pointer;
            border: 0;
            border-radius: 4px;
            font-weight: 600;
            margin: 0 10px;
            width: 100px;
            padding: 10px 0;
            box-shadow: 0 0 20px #82ae46;
            transition: 0.4s;
        }

        .reg {
            color: white;
            background-color: #82ae46;
        }

        .log {
            color: #82ae46;
            background-color: white;
            border: 1px solid #82ae46;
        }

        button:hover {
            color: white;
            width:;
            box-shadow: 0 0 20px #82ae46;
            background-color: #82ae46;
        }

    </style>
    <!-- Toastr CSS -->
  
</head>

<body class="goto-here">

<!--header-->
<div class="py-1 bg-primary">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pl-4 d-flex topper align-items-center">
                        <div class="icon ml-2 d-flex justify-content-center align-items-center"><span
                                class="icon-phone2"></span></div>
                        <span class="text">02112345678</span>
                    </div>
                    <div class="col-md pl-4 d-flex topper align-items-center">
                        <div class="icon ml-2 d-flex justify-content-center align-items-center"><span
                                class="icon-paper-plane"></span></div>
                        <span class="text">email@website.com</span>
                    </div>
                    <div class="col-md-5 pl-4 d-flex topper align-items-center text-lg-left">
                        <span class="text">ارسال بین 3-5 روز کاری</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header-->

<!--Start Nav-->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> منو
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">خانه</a></li>
              @*   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">خرید</a>
                    <div class="dropdown-menu" id="top-dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="shop.html">خرید</a>
                        <a class="dropdown-item" href="wishlist.html">محصولات مورد علاقه</a>
                        <a class="dropdown-item" href="product-single.html">محصولات تکی</a>
                        <a class="dropdown-item" href="cart.html">اشتراک</a>
                        <a class="dropdown-item" href="checkout.html">سبد خرید</a>
                    </div>
                </li> *@
              
                <li class="nav-item"><a href="contact.html" class="nav-link">تماس با ما</a></li>
                    <li class="nav-item cta cta-colored"><a href="/Cart" class="nav-link"><span class="icon-shopping_cart"></span>[ @(ViewData["CartItemCount"] ?? "0")]</a></li>
            </ul>
        </div>
            <div class="col-lg-3 col-md-0 col-xs-12 pl">
                <div class="header-left">
                    <div class="header-account text-left">
                        <div class="d-block">

                            @if (User.IsInRole("Customer"))
                            {
                                <div class="account-box">
                                    <div class="nav-account d-block pl">
                                        <span class="icon-account">
                                            <img src="~/Img/man.png" class="avator">
                                        </span>
                                        <span class="title-account">حساب کاربری</span>

                                        <div class="dropdown-menu">
                                            <ul class="account-uls mb-0">
                                                <li class="account-item">
                                                    <a href="/Profile" class="account-link">پنل کاربری</a>

                                                    @* <a asp-page-handler="Edit" asp-page="EditAuction" asp-route-ID="@User.Identity.Name" onclick="confirm('آیا از ویرایش آیتم مطمئنید؟!')">
                                                                <i class="fa fa-pencil font-medium-3 mr-2"></i>
                                                            </a> *@
                                                </li>
                                                <li class="account-item">
                                                    <a href="#" class="account-link">سفارشات من</a>
                                                </li>
                                                <li class="account-item">
                                                    <a href="#" class="account-link">تنظیمات</a>
                                                </li>
                                                <li class="account-item">
                                                    <form method="post">
                                                        <button type="submit" class="btn btn-danger">خروج از حساب</button>
                                                    </form>
                                                  @*   <a href="/Account/logout" class="account-link">خروج</a> *@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                        <div class="row">
                                            <div calss="col">
                                                <a href="/Login/LoginPage">
                                                    <button class="log">ورود</button>
                                                </a>
                                            </div>
                                            <div calss="col">
                                                <a href="/Login/Register">
                                                    <button class="reg"> ثبت نام</button>
                                                </a>
                                            </div>
                                        </div>
                                  
                            }

                        </div>
                    </div>
                </div>
            </div>
    </div>
</nav>
<!-- END nav -->


    @RenderBody()
<!--Start Footer-->
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">غذاهای گیاهی</h2>
                    <p>یکی از بهترین راهها انتخاب درست مسیر زندگی هست با ما بسلامتی خود اهمیت بدین</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">منو</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">خرید</a></li>
                        <li><a href="#" class="py-2 d-block">درباره ی ما </a></li>
                        <li><a href="#" class="py-2 d-block">کاتالوگ</a></li>
                        <li><a href="#" class="py-2 d-block">ارتباط با ما</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">سوالی هست؟</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                            <li><a href="#" class="py-2 d-block">اطلاعات حمل و نقل</a></li>
                            <li><a href="#" class="py-2 d-block">شرایط بازگشت و تعویض</a></li>
                            <li><a href="#" class="py-2 d-block">شرایط و ضوابط</a></li>
                            <li><a href="#" class="py-2 d-block">سیاست حفظ حریم خصوصی</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">وب روبیک</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">ایران - شیراز - بلوار جمهوری</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">02112345678</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">email@website.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    <!-- Link back to webrubik can't be removed.  -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made by <a href="https://colorlib.com/" target="_blank">colorlib</a></br>
                    <!-- Link back to webrubik can't be removed.  -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script src="~/Shop/js/jquery.min.js"></script>
<script src="~/Shop/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/Shop/js/popper.min.js"></script>
<script src="~/Shop/js/bootstrap.min.js"></script>
<script src="~/Shop/js/jquery.easing.1.3.js"></script>
<script src="~/Shop/js/jquery.waypoints.min.js"></script>
<script src="~/Shop/js/jquery.stellar.min.js"></script>
<script src="~/Shop/js/owl.carousel.min.js"></script>
<script src="~/Shop/js/jquery.magnific-popup.min.js"></script>
<script src="~/Shop/js/aos.js"></script>
<script src="~/Shop/js/jquery.animateNumber.min.js"></script>
<script src="~/Shop/js/bootstrap-datepicker.js"></script>
<script src="~/Shop/js/scrollax.min.js"></script>
<script src="~/Shop/js/google-map.js"></script>
<script src="~/Shop/js/main.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


<script src="~/js/main.js"></script>
    <script>
        $(document).ready(function () {

            var quantitiy = 0;
            $('.quantity-right-plus').click(function (e) {

                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                $('#quantity').val(quantity + 1);


                // Increment

            });

            $('.quantity-left-minus').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                var quantity = parseInt($('#quantity').val());

                // If is not undefined

                // Increment
                if (quantity > 0) {
                    تومان('#quantity').val(quantity - 1);
                }
            });

        });
    </script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>