@page
@model OnlineFruitShop.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}
<h2>فراموشی رمز عبور</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.email"></label>
        <input asp-for="Input.email" class="form-control" />
        <span asp-validation-for="Input.email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">ارسال لینک بازیابی</button>
</form>