@page
@model OnlineFruitShop.Pages.ResetPasswordConfirmationModel
@{
}
<h2>رمز عبور تغییر کرد</h2>
<p>رمز عبور جدید شما ثبت شد. می‌توانید وارد حساب خود شوید.</p>
<a asp-page="/Account/Login" class="btn btn-primary">ورود به حساب</a>